.quiz {
  max-width: 500px;
  width: 100%;
  margin-right: 20px;
  overflow-y: auto;
  background: linear-gradient(134.17deg, #f1f7ff 4.98%, #f5f9ff 94.88%);
  box-shadow: -8px -8px 16px rgba(255, 255, 255, 0.8),
    8px 8px 16px rgba(186, 198, 216, 0.8);
  border-radius: 10px;
}

.quiz__wrapper {
  padding: 35px 25px 35px 40px;
  background: linear-gradient(134.17deg, #f1f7ff 4.98%, #f5f9ff 94.88%);
}

.quiz__wrapper:first-child {
  padding-bottom: 0;
}

.quiz__wrapper.hidden {
  display: none;
}

.quiz__wrapper:first-child.hidden + .quiz__wrapper:last-child {
  padding-top: 25px;
}

.quiz__wrapper:last-child {
  padding-top: 0;
}

.quiz__wrapper.active:last-child {
  padding-top: 25px;
  background: #fff;
  border-top: 1px solid #a62e41;
}

@media only screen and (max-width: 767px) {
  .quiz {
    max-width: 95vw;
    width: 100%;
  }

  .quiz__wrapper {
    padding: 30px 20px;
  }
}

.quiz__content .form__checkbox-txt {
  color: #333333;
  white-space: unset;
}

.quiz__content .form__checkbox-txt::first-letter {
  text-transform: uppercase;
}

.quiz__content .form__checkbox-styled {
  min-width: 25px;
  min-height: 25px;
  border-radius: 5px;
  border: 1px solid #b4d1fa;
  box-shadow: inset 2px 2px 4px rgba(186, 198, 216, 0.8);
  background: #ffffff;
}

.quiz__content .form__checkbox-styled--small {
  min-width: 20px;
  min-height: 20px;
}

.quiz__form {
  display: none;
  width: 100%;
  margin: 0 auto;
}

.quiz__form .form__descrip {
  display: none;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: rgba(51, 51, 51, 0.7);
}

.form__descrip.active {
  display: block;
}

.quiz__form .form__control {
  margin-bottom: 25px;
}

.quiz__answers .form__control {
  margin-bottom: 10px;
}

.quiz__form p {
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  margin-bottom: 25px;
  margin-top: 0;
}

.quiz__form .button {
  width: 100%;
  border-radius: 3px;
  max-width: 194px;
  border-radius: 5px;
  padding: 16px;
}

.quiz__form.active {
  display: block;
}

.quiz__form .form__control {
  margin-bottom: 30px;
}

.quiz__form .form__label-txt {
  color: #094573;
  font-weight: 700;
  font-size: 18px;
  cursor: text;
}

.quiz__form .form__input {
  border-bottom: 1px rgba(9, 69, 115, 0.5) solid;
  color: #094573;
}

.quiz__form .form__input:focus {
  border-color: #094573;
}

.quiz__form .form__input::placeholder {
  color: rgba(9, 69, 115, 0.5);
}

.quiz__form .form__title {
  text-transform: none;
  margin-bottom: 25px;
  font-size: 24px;
}

.quiz__form .form__upload-button {
  margin-bottom: 0;
}

.quiz__form .form__checkbox-txt {
  color: rgba(9, 69, 115, 0.8);
  font-size: 14px;
}

.quiz__form .form__checkbox-styled {
  min-height: 25px;
  min-width: 25px;
}

.quiz__form .form__upload-button-txt {
  font-size: 14px;
  white-space: unset;
  line-height: 140%;
  font-weight: 700;
  max-width: 190px;
  width: 100%;
}

.quiz__form .form__checkbox-styled {
  background: #fff;
  box-shadow: inset 2px 2px 4px rgba(186, 198, 216, 0.8);
  border-radius: 5px;
  border: 1px solid #b4d1fa;
}

.quiz__header {
  margin-bottom: 30px;
}

.quiz__header p {
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #094573;
}

@media only screen and (max-width: 767px) {
  .quiz__header h3 {
    font-size: 22px;
  }
}

.quiz__question {
  margin: 0;
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: 400;
  color: #094573;
}

.quiz__answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.quiz__descrip {
  flex-wrap: wrap;
  gap: 8px 20px;
  display: none;
  padding-left: 20px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.quiz__descrip li {
  opacity: 0.7;
  flex: 1 1 47%;
  position: relative;
  list-style: none;
  line-height: 1.1;
  font-size: 16px;
}

.quiz__descrip li::first-letter {
  text-transform: uppercase;
}

.quiz__descrip li::before {
  width: 10px;
  height: 2px;
  position: absolute;
  content: "";
  top: 7px;
  left: -18px;
  background-color: #a62e41;
}

.quiz__descrip.active {
  display: flex;
}

.quiz__services {
  display: none;
}

.quiz__services.active {
  display: block;
}

.quiz__services .form__control {
  margin-bottom: 10px;
}

.quiz__result {
  display: none;
  margin-bottom: 30px;
}

.quiz__result.active {
  display: block;
}

.quiz__result span {
  font-weight: 700;
  display: block;
}

.quiz__result p {
  margin-top: 0;
}

.quiz__result p {
  color: rgba(51, 51, 51, 0.7);
}

.quiz__result p > span {
  color: #333;
}

.quiz__result p:not(:last-child) {
  margin-bottom: 10px;
}

.quiz__result button {
  border-bottom: 1px solid;
  color: #a62e41;
  font-weight: 700;
  font-size: 14px;
  margin-top: 20px;
  line-height: 1;
}

.quiz__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.quiz__controls .button {
  font-weight: 700;
  width: fit-content;
  font-size: 16px;
  border-radius: 4px;
  padding: 10px 30px;
}

.quiz__controls .button:hover {
  animation: none;
}

.quiz__controls.hidden {
  display: none;
}

.quiz__controls-button--prev {
  margin-right: 24px;
  display: none;
  font-size: 17px;
}

.quiz__controls-button--prev svg {
  margin-right: 10px;
  transition: transform 0.1s linear;
}

.quiz__controls-button--prev:hover svg {
  transform: translateX(-3px);
}

.quiz__controls-button--prev.active {
  display: flex;
  align-items: center;
  color: #094573;
}

.quiz__disclaimer {
  display: none;
  margin-bottom: 25px;
}

.quiz__disclaimer.active {
  display: block;
}

.quiz__disclaimer-title p {
  font-size: 16px;
  color: #094573;
  line-height: 1.4;
  margin: 0;
  font-weight: 700;
  margin-bottom: 10px;
}

.quiz__disclaimer-tip p {
  font-size: 16px;
  color: #333333;
  opacity: 0.7;
  line-height: 1.4;
}
