.quiz {
  max-width: 60rem;
  width: 100%;
  max-height: calc(90vh);
  height: 100%;

  overflow-y: auto;

  padding: 3rem;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  border-radius: 5px;
}

.quiz__content {
  .form__checkbox-txt {
    color: $color-black-alpha;
  }

  .form__checkbox-styled {
    background-color: $color-white-gamma;

    min-width: 25px;
    min-height: 25px;

    &::before {
      background-color: $color-blue-alpha;

      width: 50%;
      height: 50%;
    }

    &--small {
      min-width: 20px;
      min-height: 20px;
    }
  }
}

.quiz__header {
  h3 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
  }

  margin-bottom: 4rem;
}

.quiz__question {
  margin-bottom: 3.5rem;
  font-size: 2rem;
}

.quiz__answers {
  display: flex;
  flex-direction: column;
}

.quiz__descrip {
  display: none;

  padding-left: 2rem;
  margin-bottom: 2rem;

  &.active {
    display: block;
  }
}

.quiz__services {
  display: none;

  &.active {
    display: block;
  }
}

.quiz__result {
  display: none;

  &.active {
    display: block;
  }

  span {
    font-weight: 700;
  }

  p {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  button {
    border-bottom: 1px solid;
    color: $color-blue-beta;

    margin-top: 2rem;

    &:hover {
      color: lighten($color-blue-alpha, 10);
    }
  }
}

.quiz__controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 4rem;

  &.hidden {
    display: none;
  }

  &-button {
    transition: background-color 0.1s linear;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    &--next {
      background-color: $color-blue-alpha;
      color: $color-white-alpha;

      padding: 0.75em 1em;

      border-radius: 3px;

      &:hover {
        background-color: lighten($color-blue-alpha, 5);
      }
    }

    &--prev {
      border-bottom: 1px dashed;
      display: none;

      &.active {
        display: block;
      }
    }
  }
}
