// Breakpoints
$media-xxl: 87.5em;
$media-xl: 75em;
$media-lg: 64em;
$media-md: 48em;
$media-sm: 36em;
$media-xs: 30.0625em;
// Colors
$color-blue-alpha: #094573;
$color-blue-beta: #0a3d76;
$color-black-alpha: #333333;
$color-black-beta: #000000;
$color-white-alpha: #ffffff;
$color-white-beta: #f5f9ff;
$color-white-gamma: #ecf1f9;
$color-white-psi: #afc4d5;
$color-grey-alpha: #6a6a6a;
$color-grey-beta: #777777;
$color-red-alpha: #a62e41;

$color-form-error: #f76863;

//Fonts
$font-primary: "ProximaNova", sans-serif;
